<div class="panel-heading">
  Teams
</div>
<div class="panel-body">
  <i class="fa fa-group text-primary"></i>
  <%=link_to "Teams:", "#", class:"text-primary", 
      :data=>{:toggle=>"modal", :target=>"#idea_teams_modal"}%>
  <%= render partial:"idea_teams_list", collection: @idea_teams, as: :idea_team%>
</div>
  
  <div id="idea_teams_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Choose teams</h4>
          <p class="text-muted small">from teams you manage</p>
        </div>
          <%= form_tag(action:"update_teams")  do%>
            <div class="modal-body">
              <%@teams_admined.each_slice(3) do |teams|%>
                  <div class="row">
                      <%teams.each do |team|%>
                          <div class="col-md-4">
                              <%= check_box_tag 'team_ids[]', team.id, is_idea_team?(team.id)%>
                              <%=team.name%>
                          </div>
                      <%end%>
                  </div>
              <%end%>
            </div>
            <div class="modal-footer">
                <%= submit_tag "OK", class:"btn btn-primary"%>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        <%end%>
      </div>
    </div>
  </div>    
