<div class="panel panel-default">
    <%=render "idea_title"%>
</div>

<div class="panel panel-default">
    <%=render "idea_teams"%>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <span>Milestones</span>
          <span class="pull-right">
              <i class="fa fa-chevron-right small"></i>
              <%=link_to "see all", idea_path(pane:"milestone"), class:"small"%>
          </span>
    </div>
    <div class="panel-body">
      <%=render partial: 'milestone_small', 
          collection: @idea.milestones, as: :milestone%>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span>
            Solutions
            <i class="fa fa-lock"></i>
        </span>
        <span class="pull-right">
            <i class="fa fa-chevron-right small"></i>
            <%=link_to "see all", "#", class:"small"%>
        </span>
    </div>
    <div class="panel-body">
        List of solutions (detail can be viewed only by team member)
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span>Facts</span>
    </div>
    <div class="panel-body">
        List of facts links
    </div>
</div>
