<div class="panel-body">
    <div>
        <%=image_tag @idea_brief.avatar_url, width:"100"%>
    </div>
    <h4><%=link_to @idea.idea_brief.title, idea_path(@idea), class:"idea_title"%></h4>
    <p class="small"><%=@idea.idea_brief.short_desc%></p>
    <div id="idea_social_buttons" class="container-fluid">
        <%=render "idea_social_buttons"%>
    </div>
</div>

<%=render "idea_links_popup"%>  


