<div class="panel-heading">
  <span>
    Team
  </span>
  <span class="pull-right">
      <i class="fa fa-chevron-right small"></i>
      <%=link_to "see all", team_idea_path, class:"small"%>
  </span>
</div>
<div class="panel-body">
  <%= render partial:"idea_members_list", collection: @idea_members, as: :member%>
  <% if @idea_team.open_roles.count > 0 %>
  <p></p>
  <div class="pull-right text-danger">
    <span class="text-danger">
      Opens available!
    </span>
    <%=link_to(team_idea_path(pane: "open")) do%>
      <i class="fa fa-plus-circle fa-lg"></i>
    <% end %>
  </div>
  <% end %>
</div>
  
  <div id="idea_teams_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Choose teams</h4>
          <p class="text-muted small">from teams you manage</p>
        </div>
          <%= form_tag(action:"update_teams")  do%>
            <div class="modal-body">
              <%@teams_admined.each_slice(3) do |teams|%>
                  <div class="row">
                      <%teams.each do |team|%>
                          <div class="col-md-4">
                              <%= check_box_tag 'team_ids[]', team.id, is_idea_team?(team.id)%>
                              <%=team.name%>
                          </div>
                      <%end%>
                  </div>
              <%end%>
            </div>
            <div class="modal-footer">
                <%= submit_tag "OK", class:"btn btn-primary"%>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        <%end%>
      </div>
    </div>
  </div>    
