<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <h3>
        <%=@theme.title%>
      </h3>
    </div>
  </div>
  <div class="row" style="padding-top:2em">
    <span>
      <%=link_to "Edit Content", edit_theme_path(@theme), class:"btn btn-success"%>
    </span>
  </div>
</div>
<hr>

<div class="container-fluid">
  <div>
    <h4>Detail</h4>
    <%=raw(@theme.detail)%>
  </div>
  <div>
    <h4>Reward</h4>
    <%= @theme.reward %>
  </div>
  <div>
    <h4>Policy</h4>
    <%= @theme.policy %>
  </div>
  <div>
    <h4>Can be seen by</h4>
    <%= privacy_label(@theme.privacy_flag) %>
  </div>
</div>
