<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @post_actor.post_id %>
</p>

<p>
  <strong>Post actor type:</strong>
  <%= @post_actor.post_actor_type %>
</p>

<p>
  <strong>Post actor:</strong>
  <%= @post_actor.post_actor_id %>
</p>

<%= link_to 'Edit', edit_post_actor_path(@post_actor) %> |
<%= link_to 'Back', post_actors_path %>
